{% extends "base.html" %}

{%  block content %}
<body>
<h1 >About us</h1>
		<p class="what">
			Мы-команда разработчиков, по совместительству студентов МИЭМ НИУ ВШЭ.
			Этот веб-сервис является платформой для загрузки документов и распознавания их темы.</br></br>
			Наш продукт применяется для автоматического распознавания смысла текста, предоставленного пользователем
			сервиса. Конечным результатом работы платформы является набор ключевых слов (т.н. аннотация),
			соответсвующих основным темам продукта. </br>
			Также на выходе пользователь получает эмоциональную окраску текста. В нашем случае она
			либо "positive", либо "negative".</br>
			Для достижения результатов мы используем алгоритмы <a href="https://ru.wikipedia.org/wiki/Обработка_естественного_языка"> NLP </a>.
			 </br>

	</p>
	<h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/xXfmbSzTMeo" frameborder="0" allow="accelerometer;
	autoplay; encrypted-media; gyroscope;
	picture-in-picture" allowfullscreen></iframe>
	</h2>

</body>

{% endblock %}
